button {
    background-color: #19b5ff;
    color: white;
    border: solid #1a4052 6px;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 100px;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
  box-shadow: 0 0 8px #19b5ff,
              0 0 16px #19b5ff,
              0 0 24px #19b5ff; }