body {
    background-image: url(https://images8.alphacoders.com/632/thumb-1920-632051.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: azure;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif';
}

input {
    width: 300px;
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}
input::placeholder {
    color: #fff;
    opacity: 0.7;
}

button {
  width: 200px;
  position: relative;
  padding: 10px 25px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(36, 76, 187);
  background: #102f6c;
  border: 2px solid rgb(32, 67, 161);
  border-radius: 25px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
}

button {
  text-shadow: 0 0 5px #102f6c;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px #102f6c, 0 0 25px #234b9a;
}

button .code-rain {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 255, 0, 0) 0%,
    rgba(255, 255, 255, 0.25) 50%,
    rgba(0, 255, 0, 0) 100%
  );
  opacity: 0;
}

/* ativa no hover */
button:hover .code-rain {
  opacity: 1;
  animation: rain 0.8s linear infinite;
}

@keyframes rain {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
